extends _shared

block body
	.models
		table#models-table.display(cellspacing='0', width='100%').table.table-striped.table-bordered
			thead
				tr
					th Models we work on               
			tbody
				for model in models
					tr
						td
							h4= model
	script(src="scripts/models.js")
