extends _shared

block body
	.models
		table#models-table.display(cellspacing='0', width='100%')
			thead
				tr
					th Models we work on               
			tbody
				for model in models
					tr
						td
							p= model
	script(src="scripts/models.js")
