extends _shared

block body
	.reviews
		table#review-table.display(cellspacing='0', width='100%')
			thead
				tr
					th Customer reviews               
			tbody
				for review in reviews
					tr
						td
							blockquote
								p= review.content
								footer= review.source
	script(src='scripts/reviews.js')