extends _shared

block body
	.services
		table#services-table.display(cellspacing='0', width='100%').table.table-striped.table-bordered
			thead
				tr
					th Job
					th Cost
					th Type
			tfoot
				tr
					th
					th
					th Type           
			tbody
				for service in services
					tr
						td=service.job
						td= service.cost
						td= service.type
	script(src='scripts/services.js')